lenguajes-de-marcas/Ejercicios/Ampliacion y refuerzo/refuerzo/dtd-xsd/Cliente/Cliente.dtd

<!ELEMENT Cliente (Nombre, Direccion, CodigoPostal, Telefono, Vendedor?, TipoPersona)>
    <!ATTLIST Cliente activo CDATA "true">
    <!ELEMENT Nombre (#PCDATA)>
    <!ELEMENT Direccion (#PCDATA)>
    <!ELEMENT CodigoPostal (#PCDATA)>
    <!ELEMENT Telefono (#PCDATA)>
    <!ELEMENT Vendedor (#PCDATA)>
    <!ELEMENT TipoPersona (#PCDATA)>